@import url("./utils.css");
@import url("./aside.css");
@import url("./gamePlay.css");
@import url("./responsive.css");


body {
  width: 100%;
  /* min-height: 100vh; */
  height: 100vh;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}



.game-container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin-inline: auto;
  gap: 5px;
  padding: 0 20px;
  justify-content: center;
  gap: 50px;
}

#chess-board-container {
  border: none;
  flex: 1;
  position: relative;
}

.player {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  position: relative;
  padding: 10px;
}

.player::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  opacity: .1;
  border-radius: 10px;
}

.player[data-current-move="true"]::after {
  display: none;
}

.player-profile {
  display: flex;
  align-items: center;
  gap: 15px;
}

.player-name p {
  font-size: 1.1rem;
}

.avatar {
  border: 1px solid;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  padding: 5px;

  & img {
    width: 100%;
  }
}

.pieces {
  display: flex;
  flex-wrap: wrap;
}

.pieceImg {
  width: 20px;

  & img {
    width: 100%
  }
}

.timer {
  width: 100px;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  font-size: 1.5rem;
}

#chess-board {
  width: 480px;
  height: 480px;
  border: 1px solid;
  display: flex;
  flex-wrap: wrap;
  margin: 5px 10px;
  border-radius: 5px;
  overflow: hidden;
}

.chess-board-prev-img {
  -webkit-user-drag: none;
  padding-bottom: 2px;
}

.row,
.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #fff; */
  position: relative;
  /* z-index: -999; */
  flex-grow: 1;
}

.cell {
  padding: 5px;
}

#chess-board-container>.row,
#chess-board-container>.col {
  position: absolute;
  z-index: 9;
  left: 34px;
  font-size: .6rem;
}

#chess-board-container>.col {
  left: 10px;
  top: 23px;
}

.filledBlock {
  background-color: #cfcdcd;
}

.cell.emptyCell.nextPos {
  position: relative;
}

.cell.emptyCell.nextPos::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: rgb(180, 103, 103);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cell.selectedCell {
  border: 1px solid red;
}

.cell.targetCell {
  border: 1px solid #ff0000;
}

#game-moves-container {
  max-width: 350px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  width: 100%;
  flex-direction: column;
  border: 1px solid;
}

table {
  border: 1px solid;
  text-align: center;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid;
  padding: 2px 0;
}

td>div {
  display: flex;
  align-items: center;
  gap: 5px;

  & span {
    font-size: .9rem;
  }

  & img {
    width: 20px;
  }
}


@media screen and (max-width: 613px) {
  #chess-board {
    width: 400px;
    height: 400px;
  }

  .cell img {
    width: 35px;
  }
}

@media screen and (max-width: 450px) {
  #chess-board {
    width: 350px;
    height: 350px;
  }

  .cell img {
    width: 30px;
  }
}

/* @import url("./responsive.css"); */