* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: poppins;
}

body {
  width: 100%;
  min-height: 100vh;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#chess-board-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}

#chess-board {
  width: 560px;
  height: 560px;
  border: 1px solid;
  display: flex;
  flex-wrap: wrap;
  margin: 5px 10px;
}


.row,
.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  position: relative;
  /* z-index: -999; */
  flex-grow: 1;
}

.filledBlock {
  background-color: #cfcdcd;
}

.cell.emptyCell.nextPos {
  position: relative;
}

.cell.emptyCell.nextPos::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: rgb(180, 103, 103);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cell.selectedCell {
  border: 1px solid red;
}

/* .cell.selectedCell::after {
  width: 100%;
  height: 100%;
  border-radius: 0;
  background-color: red;
  opacity: .5;
  z-index: -99;
} */

.cell.targetCell {
  border: 1px solid #ff0000;
}

@media screen and (max-width: 613px) {
  #chess-board {
    width: 400px;
    height: 400px;
  }

  .cell img {
    width: 35px;
  }
}

@media screen and (max-width: 450px) {
  #chess-board {
    width: 350px;
    height: 350px;
  }

  .cell img {
    width: 30px;
  }
}