* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: poppins;
}

body {
  width: 100%;
  min-height: 100vh;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#chess-board-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
}

#chess-board {
  width: 560px;
  height: 560px;
  border: 1px solid;
  display: flex;
  flex-wrap: wrap;
  margin: 5px 10px;
}


.row,
.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  flex-grow: 1;
}

img {
  /* width: 100%; */
}

.filledBlock {
  background-color: #cfcdcd;
}

.cell.emptyCell.nextPos {
  position: relative;
}
.cell.emptyCell.nextPos::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: rgb(180, 103, 103);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}